{% extends "website/base.html" %}
{% load staticfiles %}

{% block content %}


{% load static %}
<!-- Logo and Header -->
<div class="text-center">
    <img src="{% static "logo.png" %}">
</div>

<div class="page-header">
    <h1 align="center" class="display-4">Search for auctions!</h1>
</div>
<!-- Logo and Header -->


<!-- Search form -->
<form id="search-form" method="POST" action="{% url 'searchs' %}">
    {% csrf_token %}
    <div class="active-cyan-3 active-cyan-4 mb-4">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search-input"
            id="search-input" required>
    </div>
    <input class="hidden" type="hidden" name="username" value="{{ username }}">
    <div class="text-center">
        <button id="search-btn" type="submit" align="centre" class="btn btn-dark btn-lg">Search</button>
    </div>
</form>
<!-- Search form -->

</div>
{% endblock %}
