{% extends "website/base.html" %}
{% load staticfiles %}

{% block content %}

<h1>bellow is just some random sample content</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate odio quas architecto repudiandae blanditiis
    porro ab quis eligendi, molestiae numquam itaque nostrum, quos velit vel, soluta accusamus error. Doloribus,
    tempora!
    Tempora minima eos minus, repudiandae ad nostrum quas mollitia labore in nam vero quo dicta quisquam impedit
    accusamus ullam illum consequuntur quasi! Nostrum mollitia rerum totam in, labore ipsum incidunt!
    Nulla ea debitis error, eos itaque nesciunt hic? Eveniet cupiditate numquam, possimus praesentium voluptatem
    veritatis nostrum omnis suscipit? Animi enim aut deleniti voluptatem fugiat minima ea facilis consequatur nam
    cum.
    Natus pariatur quo, voluptatibus facere, assumenda sed harum quas nulla eum, omnis vitae voluptatum. Autem illum
    quam distinctio aspernatur veritatis fuga, laboriosam velit dolorem accusantium facere earum consequuntur fugiat
    necessitatibus?
    Temporibus ullam tenetur officiis quas reiciendis soluta a consectetur velit odio cupiditate. Sapiente quas quia
    obcaecati iusto veritatis! Maiores, tempore odio alias quam officiis repellendus est animi possimus assumenda
    dicta.
    Esse vitae, quod numquam asperiores, illo laboriosam consequuntur cumque repudiandae distinctio dolore impedit
    officia! Obcaecati, voluptate qui. Explicabo amet, magni aperiam incidunt praesentium recusandae voluptatum
    minus, voluptatibus expedita sequi eum.
    Quas hic laboriosam expedita non nulla nesciunt quo sit debitis atque? Corrupti laborum assumenda in quibusdam
    aspernatur necessitatibus ipsam vel reiciendis, temporibus soluta facere modi officia nemo. Saepe, dolore
    perspiciatis!
    Saepe provident quam, quae dolorem omnis ad praesentium, eligendi vel alias et cupiditate corrupti ipsa harum
    qui est! Laborum dolore harum libero rerum laudantium, vitae velit corporis alias nisi natus.
    Eligendi facere eos possimus, cum dolorem nesciunt cupiditate recusandae, tempore similique aspernatur nostrum
    unde! Veritatis laborum provident incidunt blanditiis perspiciatis molestiae culpa eaque fuga dolorem possimus,
    atque fugit accusantium dolor.
    Dolore facilis temporibus commodi ducimus eveniet ad, animi nostrum ipsam omnis quae dolorem! Culpa inventore
    sunt eveniet ex, quaerat cupiditate fugiat reiciendis. Aspernatur, aliquam sequi minima nemo cupiditate quaerat
    error?
    Cumque temporibus error asperiores accusamus itaque minima voluptatem fugiat consequatur iusto, suscipit ullam
    doloribus reiciendis expedita, doloremque neque dignissimos ea nostrum? Suscipit laborum voluptatibus saepe
    placeat officiis, quibusdam voluptatum atque!
    Aliquid, aliquam? Dolorem ad officiis omnis voluptatibus labore sequi, ipsum mollitia eius eaque, beatae vero
    rem ut consequatur cumque facere adipisci in, voluptas tempora nemo doloremque quae. Fuga, consequatur libero?
    Provident dolorem voluptatem officiis, sapiente nobis repellendus possimus sint? Quod modi, tempora, eveniet
    deleniti assumenda quo alias impedit sed enim fugiat aliquam illo sint minima? Totam a sequi molestias
    repellendus.
    Et corrupti iusto error dolores illo vitae atque labore qui nesciunt at soluta, fuga nemo cupiditate vero ad
    eos, voluptatibus sint. Dicta vitae asperiores reiciendis illo error. Est, quia deserunt.
    Quo esse dolorem non facilis et laboriosam voluptatum natus obcaecati cum, sit officia in maiores molestiae
    aperiam suscipit iusto optio excepturi quod. Qui laudantium expedita placeat commodi numquam! Id, velit.
    Vel ullam molestias provident nam temporibus officiis eius. Rem ea veniam quibusdam obcaecati enim, iste sunt
    modi itaque rerum magni culpa quia! Corrupti ad recusandae, iure pariatur explicabo et ab!
    Sunt animi eaque excepturi laboriosam a! Aliquam cupiditate labore, vitae dolorem distinctio minima ducimus
    doloribus ab, architecto non aliquid ullam ea totam omnis necessitatibus incidunt dolore error commodi ratione
    magnam!
    Magnam odio neque qui alias dolorum id quisquam iusto et inventore maxime! Nostrum laudantium laboriosam autem
    officiis incidunt omnis animi nulla, iste quam, voluptatibus dolorem? Expedita ratione ducimus iste quasi.
    Quidem aspernatur alias unde veritatis distinctio necessitatibus aliquam perferendis, earum dicta molestiae
    laudantium? Sapiente, tempore! Nihil tempore animi quasi expedita nam laboriosam quaerat molestiae fugit,
    repellendus ex tenetur cupiditate error.
    Commodi tenetur sunt iusto eum ipsum assumenda mollitia dolores. Autem quo debitis ea. Ducimus eum aliquid
    explicabo accusamus reiciendis laboriosam quidem voluptatibus quaerat officiis nostrum. Deserunt odit quia
    possimus vitae.</p>
{% endblock %}